*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding-top: 50%;
  padding-bottom: 50%;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}